h1 {
    color: rgb(71, 3, 26);
}

.psauce, .ichicken, .mcheese {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 16px;
}

img {
    height: auto;
    width: 200px;
}

.ihead, .itext {
    color:navy;
}

.itext, .stext {
    font-family: cursive;
}

.shead, .stext {
    color:rgb(248, 4, 4);
}

.psauce {
    background-color: rgb(201, 126, 13);
    color: white;
}

.ichicken {
    background-color: maroon;
    color: white;
}

.mcheese {
    background-color: rgb(189, 175, 52);
}